@import url("https://fonts.googleapis.com/css2?family=Bitter:wght@300;400;500&family=Lato:wght@400;700;900&family=Montez&display=swap");
@import url("https://fonts.googleapis.com/css2?family=League+Script&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-font: "Lato", sans-serif;
  --secondary-font: "Bitter", serif;
  --script-font: "League Script", cursive;
  --logo-font: "Montez", cursive;
  --main-font-color: #4f5364;
  --link-color: #9f5a01;
  --green-primary: #225d27;
  --background-color: #edf1f2;
}

html {
  font-family: var(--main-font);
  font-size: 10px;
  background-color: var(--background-color);
  color: var(--main-font-color);
  scroll-behavior: smooth;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  color: var(--link-color);
  cursor: pointer;
  font-size: 1.4rem;
}

ul {
  list-style: none;
}

h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3rem;
}
h3 {
  font-size: 2.5rem;
}
h4 {
  font-size: 2rem;
}

h5 {
  font-size: 1.5rem;
}

h1,
h2,
h3,
h4,
h5 {
  text-transform: uppercase;
}

p {
  font-family: var(--secondary-font);
  font-size: 1.6rem;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 3rem;
}

/* header */
header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

/* navigation */
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
  color: #ffffff;
}

.nav a {
  color: #ffffff;
}

.active {
  background-color: rgba(16, 88, 7, 0.5);

  padding: 1.5rem;
  border-radius: 2px;
}

.logo h1 {
  font-size: 4rem;
  font-family: var(--logo-font);
  letter-spacing: 0.1rem;
  padding: 1rem;
  text-transform: lowercase;
}

.nav-list {
  display: flex;
  gap: 3rem;
}

.nav-link {
  text-transform: uppercase;
  transition: color 0.5s;
}

.social-items {
  display: flex;
  gap: 2rem;
}

.social-items a {
  font-size: 1.9rem;
  transition: color 0.5s;
}

/* Hamburger styling */

.burger-wrapper {
  display: none;
  position: absolute;
  top: 1rem;
  right: 1rem;
}

#top,
#bottom {
  transition: stroke-dashoffset 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

#middle {
  opacity: 1;
  transition: opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.line {
  fill: none;
  stroke: #fff;
  stroke-miterlimit: 10;
  stroke-width: 2px;
}

path {
  stroke-dasharray: 25 45;
  stroke-dashoffset: 0;
}

button {
  background: none;
  border: none;
}

.x #middle {
  opacity: 0;
}

.x #top,
.x #bottom {
  stroke-dashoffset: -45;
}

.nav-link:hover,
.social-items a:hover {
  color: var(--link-color);
}

/* Hero */

#hero {
  background: url("../img/header-img.jpg") no-repeat center/cover;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

#hero,
#menu-html {
  position: relative;
  width: 100%;
  height: 100vh;
  color: #f8f8f8;
  background-attachment: fixed;
}

#menu-html {
  background: url("../img/menu-back.jpg") no-repeat center/cover;
}

#hero::before,
#menu-html::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

#hero .container,
#menu-html .container {
  position: relative;
}

/* MENU Styling */
.menu-html {
  background-color: black;
}

#menu-html .container {
  top: 10%;
  text-align: center;
  max-width: 1300px;
}

#menu-html .nav {
  padding: 0;
  margin: 0;
}

.card {
  background-color: rgba(16, 88, 7, 0.3);
  padding: 1rem;
  width: 350px;
}

.entree {
  width: 450px;
}

.card p {
  margin: 2rem 0;
  font-weight: 500;
  letter-spacing: 1px;
}

#menu-html .flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* align-items: center; */
  gap: 2rem;
  margin-top: 4rem;
}

/* MENY Styling ENDS */

.headline {
  font-size: 8rem;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  line-height: 1.6;
}

.headline-desc {
  font-size: 1.6rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  word-spacing: 0.3rem;
  line-height: 1.6;
  margin-bottom: 2rem;
}

.click-div {
  display: flex;
  height: 2.5rem;
  width: 2.5rem;
  margin: auto;
  margin-top: 4rem;
  text-align: center;
  align-items: center;
  justify-content: center;
  border: 2px solid #ffffff;
  border-radius: 100%;
  transition: all 0.5s;
}

.click-welcome {
  color: #ffffff;
  display: flex;
  align-items: flex-end;
  padding: 2rem;
  transition: all 0.5s;
}

.click-welcome:hover {
  color: var(--link-color);
}

.click-div:hover {
  border: 2px solid var(--link-color);
}

.click-welcome i {
  font-size: 1.5rem;
}

.date {
  position: absolute;
  top: 30rem;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
  /* transform: translateY(100%); */
}

.date p {
  font-size: 1.4rem;
}

/* Welcome */
#welcome {
  height: 50rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.restaurant-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  /* align-items: center; */
}

.restaurant-description {
  background-color: #ffffff;
  margin: 4rem 2rem;
  padding: 3rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.restaurant-description h5 {
  letter-spacing: 0.1rem;
}

.restaurant-description h2 {
  font-size: 4rem;
  letter-spacing: 0.1rem;
}

.restaurant-description p {
  font-size: 1.4rem;
  line-height: 1.7;
}

.restaurant-description a {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  border-bottom: 1px solid var(--link-color);
}

#welcome .rest-img {
  margin: 4rem 2rem;
  align-self: center;
}

/* tasteful recipes */

.tasteful-recipes {
  background-color: #040404;
  height: 50rem;
  max-height: 60rem;
}

.tasteful-recipes .container {
  background: url("../img/salad-plate-rotate.jpg") no-repeat center/contain;
  height: 100%;
}

.tasteful-recipes .headline {
  height: 50rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 3rem;
  text-align: left;
}

.tasteful-recipes .headline h3,
.tasteful-recipes .headline h2 {
  color: #ffffff;
}

.sub-headline {
  font-family: var(--script-font);
  text-transform: lowercase;
  font-weight: 100;
  font-size: 4rem;
  line-height: 1;
}

.tasteful-recipes h2 {
  font-size: 5rem;
}

.menu-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.menu-img {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  margin: 4rem 2rem;
}

/* footer */
footer {
  padding-bottom: 3rem;
}

.footer-content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.footer-content > div {
  background-color: #fff;
  padding: 1rem;
}

.address h3,
.address h5 {
  text-align: center;
}

.address h3 {
  font-weight: 800;
}

.address h5 {
  color: #fff;
  background-color: #225d27;

  font-weight: 400;
  padding: 0.3rem 0;
  margin-bottom: 1rem;
}

.address p {
  font-size: 1.2rem;
  line-height: 1.5;
}

.footer-ul {
  line-height: 2;
}

.footer-ul a {
  font-size: 1.3rem;
  transition: color 0.5s;
}

footer a:hover {
  color: #4d2b00;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
}

.footer-bottom-info p {
  font-size: 0.8rem;
  margin-top: 0.3rem;
  color: var(--link-color);
  font-weight: 600;
}

.footer-bottom-links ul {
  display: flex;
  gap: 1rem;
}

.footer-bottom-links a {
  padding-right: 1rem;
}

footer .social a {
  padding-right: 2rem;
}

footer .social a:last-child {
  padding-right: 0;
}

footer .social i {
  font-size: 1.4rem;
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }

  .social,
  .logo h1,
  .click-div,
  .date {
    display: none;
  }

  .container {
    max-width: 700px;
    padding: 0 1rem;
  }

  #nav-container {
    position: absolute;
    right: 0px;
    top: 0px;
    height: 100vh;
    background-color: #17441b;
    opacity: 0.8;
    /* transform: translateX(100%); */
    transition: all 0.5s ease-in;
  }

  .nav {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
  }

  .nav-active {
    transform: translateX(100%);
  }

  .nav-list {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10rem;
  }

  .nav-item {
    /* opacity: 0.1; */
  }

  .nav-link {
    font-size: 1.3rem;
    text-transform: uppercase;
    transition: color 0.5s;
    margin: 0;
    padding: 0;
  }

  .burger-wrapper {
    display: block;
    cursor: pointer;
  }

  #hamburger {
    cursor: pointer;
  }

  #hero .container {
    text-align: left;
    width: 100%;
    margin-left: 2rem;
  }

  #hero h1 {
    font-size: 7rem;
    font-family: var(--logo-font);
    letter-spacing: 0.1rem;
    text-transform: lowercase;
  }

  .headline {
    margin-top: 3rem;
    font-size: 6rem;
    letter-spacing: 0.2rem;
  }

  .headline-desc {
    font-size: 1.3rem;
    margin-bottom: 1rem;
  }

  .headline-desc span {
    display: none;
  }

  .click-div {
    margin-top: 2rem;
  }

  .date {
    top: 25rem;
  }

  .date p {
    font-size: 1.3rem;
  }

  #welcome {
    height: 100%;
  }
  .restaurant-content {
    grid-template-columns: 1fr;
  }

  .restaurant-description {
    margin: 3rem 2rem;
    margin-bottom: 1.5rem;
    padding: 3rem;
  }

  .restaurant-description h5 {
    margin-bottom: 1rem;
  }

  .restaurant-description h2 {
    font-size: 3.5rem;
    margin-bottom: 1rem;
  }

  .restaurant-description p {
    margin-bottom: 1rem;
  }

  #welcome .rest-img {
    margin: 1.5rem 2rem;
    margin-bottom: 3rem;
  }

  .tasteful-recipes {
    position: relative;
    width: 100%;
    background: url("../img//salad-plate-rotate.jpg") no-repeat center/cover;
  }

  .tasteful-recipes::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .tasteful-recipes .container {
    background: none;
    position: relative;
  }

  .tasteful-recipes .headline {
    height: 100%;
    text-align: center;
  }

  .sub-headline {
    font-family: var(--script-font);
    text-transform: lowercase;
    font-weight: 500;
    font-size: 5rem;
    line-height: 1;
  }

  .tasteful-recipes h2 {
    font-size: 5.5rem;
  }

  .menu-content {
    grid-template-columns: 1fr;
  }

  .menu-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    margin-top: 3rem;
    margin-bottom: 1.5rem;
  }

  #menu .restaurant-description {
    margin-top: 1.5rem;
  }

  .footer-content {
    grid-template-columns: 1fr;
    gap: 2rem;
    text-align: center;
  }

  .footer-content > div {
    margin: auto;
    width: 80%;
  }

  .address h5 {
    display: inline-block;
    padding: 0.5rem 2rem;
    margin: auto;
  }

  .footer-ul li {
    margin-bottom: 0.5rem;
  }

  .footer-bottom {
    flex-direction: column;
    text-align: center;
  }

  .footer-bottom-info {
    margin: auto;
  }

  .footer-bottom .social {
    margin-top: 2rem;
    display: flex;
    gap: 4rem;
  }
}

@media screen and (max-width: 500px) {
  .card {
    width: 300px;
  }

  .entree {
    width: 3250px;
  }
}
